<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.FootPrint.dao.PhotoDao">

    <insert id="save" parameterType="Photo" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        photo(userId,longitude,latitude,image,time,praiseNum,province,city,label,address,visible,photoTime)
        VALUE
        (#{userId},#{longitude},#{latitude},#{imgUrl},#{time},#{praiseNum},#{province},#{city},#{label},#{address},#{visible},#{photoTime})
    </insert>
    
    
    <select id="getById" parameterType="int" resultType="Photo">
        SELECT
            id,
            userId,
            longitude,
            latitude,
            image,
            time,
            praiseNum,
            province,
            label,
            city,
            visible,
            address,
            photoTime
        FROM photo
        WHERE id=#{id}
    </select>
    
    
    <update id="updateVisible" parameterType="Photo">
        UPDATE  photo
        SET
           visible=#{visible}
        WHERE id=#{id}
    </update>

    <resultMap type="Photo" id="resultListPhoto">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="longitude" property="longitude"/>
        <result column="latitude" property="latitude"/>
        <result column="image" property="imgUrl"/>
        <result column="time" property="time"/>
        <result column="praiseNum" property="praiseNum"/>
        <result column="label" property="label"/>
        <result column="city" property="city"/>
        <result column="visible" property="visible"/>
        <result column="photoTime" property="photoTime"/>
    </resultMap>
    <select id="getAllByUserId" parameterType="int" resultMap="resultListPhoto">
        SELECT * FROM photo  WHERE  userId=#{userId}
    </select>

    <update id="updateById" parameterType="Photo">
        UPDATE  photo
        SET
            longitude=#{longitude},
            latitude=#{latitude},
            province=#{province},
            city=#{city},
            address=#{address},
            photoTime=#{photoTime}
        WHERE id=#{id} and userId=#{userId}
    </update>

    <delete id="delete">
        DELETE  FROM photo
        WHERE  id=#{id} and userId=#{userId}
    </delete>
</mapper>