<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.FootPrint.dao.UserDao">

	<insert id="save" parameterType="WechatUser" keyProperty="userId" useGeneratedKeys="true">
		INSERT INTO
			wechat_user(userId,openId, nickName, gender, avatarUrl, country, province, city, language, createTime)
		VALUES
			(null,#{openId},#{nickName},#{gender},#{avatarUrl},#{country},#{province},#{city},#{language},#{createTime})
	</insert>

    <select id="getInfo" resultType="WechatUser">
        SELECT
        	userId, nickName, avatarUrl
        FROM
        	wechat_user
        WHERE
        	userId = #{userId}
    </select>

    <select id="getByOpenId" resultType="WechatUser">
		SELECT
        	userId, openId, nickName, gender, avatarUrl, country, province, city, language, createTime
		FROM
			wechat_user
		WHERE
			openId = #{openId}
	</select>

	<select id="get" resultType="WechatUser">
		SELECT
			userId,
			openId,
			nickName,
			gender,
			avatarUrl,
			country,
			province,
			city,
			language,
			createTime
		FROM
			wechat_user
		WHERE
			userId = #{userId}
	</select>

	<select id="getSessionIdByUserId" resultType="String">
		SELECT
			sessionId
		FROM
			wechat_user
		WHERE
			userId = #{userId}
	</select>

	<update id="updateSessionIdByUserId">
		UPDATE
			wechat_user
		SET
			sessionId = #{sessionId}
		WHERE
			userId = #{userId}
	</update>


</mapper>  